body {
  max-width: 42em;
  margin: 2em auto;
  padding: 0 1em;
  line-height: 1.6;
  color: #04ff04;
  background: #000;
  font-family: monospace;
  // text-align: justify;
  overflow-wrap: break-word;
  word-break: break-word;
  font-size: 18px;
}

pre {
  max-width: 100%;
  overflow-x: auto;   /* scrollbar horizontal */
  overflow-y: hidden;
}

pre code {
  display: block;
  white-space: pre;   /* respeta formato */
}

p {
	color: #04ff04;
}

h1, h2, h3, h4 {
  color: #04ff04;
  margin-top: 1.5em;
}

a {
  color: yellow;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

hr { border-color: green; }

